name: Create and publish akash-llm-gateway Docker image

on:
  push:
    branches:
      - main
    paths:
      - 'akash-llm-gateway/**'
      - '.github/workflows/publish-ghcr-llm-gateway.yml'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/akash-llm-gateway

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: lowercase github.repository
        run: |
          echo "IMAGE_NAME=`echo ${{ env.IMAGE_NAME }} | tr '[:upper:]' '[:lower:]'`" >>${GITHUB_ENV}
      
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch
          default_prerelease_bump: patch
          
      - name: Build and push Docker image
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: ./akash-llm-gateway
          file: ./akash-llm-gateway/Dockerfile
          push: true
          build-args: |
            NEXT_PUBLIC_VERSION=${{ steps.tag_version.outputs.new_version }}
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.tag_version.outputs.new_version }}